@charset "utf-8";
#contents-main {
  /*float: left;
  margin-right: 20px;*/
  padding: 10px 20px;
  max-width: 700px;
}
/* BOOK */
.book {
    background-color: #efebe7;
    padding: 20px 0 50px;
}
.book br {
    line-height: 2.2em;
    vertical-align: top;
}
.book h1 {
    position: relative;
    left: -20px;
    padding: 0 20px 20px;
    font-size: 2.0rem;
    border-bottom: 1px solid #ccc;
}
.book h1 p {
    font-size: 1.3rem;
}
.book h2 {
    position: relative;
    left: -30px;
    background-color: #3195ba;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 30px 0 30px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.book .detail {
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 10px;
}
.book img.cover {
    float: left;
    width: 150px;
}
.book .fill {
    float: right;
    color: #191919;
    margin-left: 20px;
}
.book .fill .fill-label {
    float: left;
    width: 100px;
}
.book .fill .fill-sep {
    float: left;
}
.book .fill .fill-body {
    float: left;
    width: 340px;
}
.sns {
    height: 38px;
}
.book div#score img {
    background: url(/img/score-base.png) no-repeat;
}
.book div#score img.total {
    background: url(/img/score-base2.png) no-repeat;
}
.book div.score-title {
    font-weight: bold;
}
.book div.score-def {
    margin-bottom: 10px;
}
.book div#score-tot {
    background-color: #f2dd4b;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    margin: 20px 100px 20px 50px;
    text-align: center;
    color: #fff;
    font-size: 2.8rem;
    font-weight: bold;
    padding-top: 60px;
}
.book #score-left,
.book #score-right {
    float: left;
    width: 50%;
}
.book div#important ul li {
    list-style: disc;
    margin-left: -15px;
}
.book h4 {
    border-left: 8px solid #f2dd4b;
    padding-left: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2.0rem;
}
.book h5 {
    color: #3195ba;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.6rem;
}
.book div#summary .pull-right {
    width: 240px;
    padding-left: 20px;
}
.book div#summary .pull-left {
    width: 240px;
    padding-right: 20px;
}
.book div#summary .pull-right img,
.book div#summary .pull-left img {
    width: 220px;
}
.book div#summary .text-center img {
    width: 100%;
}
.book div.img-alt {
    font-size: 12px;
    line-height: 14px;
    color: #ccc;
    text-align: right;
    margin-bottom: 15px;
}
.book span#point {
    color: #f00;
    font-weight: bold;
}
.book div#copyright {
    margin-top: 20px;
}
.book .shops {
    float: left;
    display: block;
    width: 55px;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 7px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}
.book a.shops {
    background: url(../shops.png) no-repeat;
}
.book a.shops.amazon {
    background-position: 0 0;
}
.book a.shops.kindle {
    background-position: -60px 0;
}
.book a.shops.sevennet {
    background-position: -120px 0;
}
.book a.shops.honto {
    background-position: -180px 0;
}
.book a.shops.ehon {
    background-position: -240px 0;
}
.book a.shops.kinokuniya {
    background-position: -300px 0;
}
.book a.shops.rakuten {
    background-position: -360px 0;
}
.book a.shops.honyaclub {
    background-position: -420px 0;
}
.book a.shops.ebookjapan {
    background-position: -480px 0;
}
.book a.shops.yahoo {
    background-position: -540px 0;
}

.pdf-download {
  margin-top: 20px;
}
.book-image{
  width: 150px;
  height: 212px;
}